server {
  listen   80;

  access_log  /var/log/nginx/localhost.access.log;

  root   {{ phpvirtualbox.nginx_base }}/phpvirtualbox;
  index  index.html index.htm;

  location ~ \.php$ {
    fastcgi_split_path_info ^(.+?\.php)(/.+)$;
    fastcgi_pass   {{ fpm.host }}:{{ fpm.port }};
    fastcgi_index  index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include        fastcgi_params;
  }
}
