# CentOS 7.x kickstart file - ks7.cfg
# Required settings
lang en_US.UTF-8
keyboard us
authconfig --enableshadow --enablemd5
timezone UTC

# Optional settings
install
url --url=http://{{ ansible_default_ipv4.address }}:{{ osPort }}/centos7_minimal_1511
rootpw --disabled
user --name=centos --plaintext --password centos
unsupported_hardware
network --bootproto=dhcp
firewall --disabled
selinux --enforcing
bootloader --location=mbr
text
skipx
zerombr
clearpart --all --initlabel
autopart
firstboot --disabled
reboot

%packages --nobase --ignoremissing --excludedocs
@core
yum
wget
openssh-clients
openssh-server
sudo
nfs-utils
-fprintd-pam
-intltool
%end

%post
yum -y update
yum -y install policycoreutils policycoreutils-python wget
# sudo
echo "%centos ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers.d/centos
chmod 0440 /etc/sudoers.d/centos
sed -i "s/^[^#].*requiretty/#Defaults requiretty/" /etc/sudoers
%end
