DEFAULT menu.c32
TIMEOUT 100
PROMPT 0
MENU INCLUDE pxelinux.cfg/pxe.conf
ONTIMEOUT {{ item.menu_label }}
NOESCAPE 1
MENU TITLE {{ item.menu_title }}

LABEL {{ item.menu_label }}
  MENU LABEL {{ item.menu_label }}
  KERNEL {{ item.kernel }}
  APPEND {{ item.append }}

MENU SEPARATOR

LABEL local
  MENU LABEL Boot local hard drive
  LOCALBOOT 0
