http:
  http_host: {{ ansible_default_ipv4.address }}
  http_port: {{ osPort }} 
  http_proto: {{ osProto }}

network:
  netmask: {{ netmask }}
  gateway: {{ gateway }}
  nameservers: {{ nameservers }} #comma delimited if more than one

defaults:
  ubuntu:
    install_type: server

  centos:
    install_type: minimal

  atomic:
    install_type: minimal
