MENU TITLE AtomicOS 7 1609

LABEL Install AtomicOS 7 1609
  MENU LABEL Install AtomicOS 7
  KERNEL atomic_minimal_7/vmlinuz
  APPEND inst.ks=http://{{ ansible_default_ipv4.address }}:{{ dkPort }}/ks?os=atomic&version=7 initrd=atomic_minimal_7/initrd.img inst.repo=http://{{ ansible_default_ipv4.address }}:{{ osPort }}/atomic_minimal_7/ biosdevname=0
