MENU TITLE {{ pxe_menu_title }}
NOESCAPE {{ pxe_noescape }}
ALLOWOPTIONS {{ pxe_allowoptions }}
PROMPT {{ pxe_prompt }}
MENU WIDTH {{ pxe_menu_width }}
MENU ROWS {{ pxe_menu_rows }}
MENU TABMSGROW  {{ pxe_menu_tabmsgrow }}
MENU MARGIN {{ pxe_menu_margin }}
MENU COLOR {{ pxe_menucolor }}
